.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

table button {
	border: 1px solid grey;
	width: 100px;
	height: 100px;
}

.gg{
	text-align: center;
	color: darkgoldenrod;
}
